@import "~fullcalendar/dist/fullcalendar.min.css";
/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.toolbar{
    background-color:  rgba(19, 71, 123, 0.878);
    border-radius: 100px;
    color: white;

}

.toolbar-spacer{
    flex: 1 1 auto;
}