

  
<div class="homecomponent">
  
      <div class="jumbotron text-center" style="background-color:rgba(255, 255, 255, 0.384)">
          
          <h1>University of Colombo School of Computing</h1>
          <h2>Online Computer Lab Reservation System</h2><br>
          <!-- <p class="lead">Welcome to our custom MEAN authentication application built from scratch</p> -->
          
          <div>
            <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
            <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
          </div>

        </div>

  
 
</div>

